.about__container{

    display: grid;
    /* grid-template-columns: 30% 50%; */
    gap: 15%;
}

.about__cards{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 38rem;
    gap: 1.5rem;
    justify-content: center;
    justify-self: center;
}

.about__card{

    background: var(--color-bg-variant);
    border: 1px solid transparent;
    
    border-radius: 1rem;
    padding: .6rem;
    text-align: center !important;
    transition: var(--transition);
}

.about__card:hover{

    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.about__icon{

    color: var(--color-primary);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.about__card h5{

    font-size: 0.95rem;
}

.about__card small{

    font-size: .7rem;
    color: var(--color-light);
}

.about__content p{

    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* Large Screens (Desktops & Large Laptops) */
@media screen and (min-width: 1440px) {
    .about__container {
        max-width: 70%;
        margin: 0 auto;
    }

    .about__cards {
        width: 40rem;
    }
}

/* Medium Devices (Tablets) */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about__me {
        width: 60%;
        margin: 2rem auto 4rem;
    }

    .about__cards {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* Small Devices (Mobile Phones) */
@media screen and (max-width: 768px) {
    .about__me {
        width: 70%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}

/* Extra Small Devices (Small Mobile Screens) */
@media screen and (max-width: 480px) {
    .about__me {
        width: 80%;
        margin-top: 3rem;
        margin-bottom: none;
    }

    .about__cards {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .about__card {
        padding: 0.5rem;
    }

    .about__content p {
        font-size: 0.9rem;
    }
}
